@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F7F7F7;
}
.all-cntnr{
    position: relative;
    width: 100%;
    min-height: 750px;
    height: max-content;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.6);
    filter: brightness(60%);
}
header{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px #7B7B7B;
}
.tl{
    position: absolute;
    top: 25px;
    left: 100px;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    cursor: pointer;
}
span{color: #00A5EC;}
.btnBox{
    margin: 2em auto;
    width: 30%;
    min-width: 20em;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.back-btn{
    width: 8em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.back-btn p{
    color: #424242;
    font-family: 'Roboto', sans-serif;
}
.bck{
    width: 2.4em;
    height: 2.4em;
    background-color: #424242;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bck:hover{
    box-shadow: 3px 3px 10px #7B7B7B;
    border: 1px solid #00A5EC;
}
.bck .material-symbols-outlined{
    color: white;
}
.action-btn{
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    cursor: pointer;
}
.btn{
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    background-color: #00A5EC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    box-shadow: 3px 3px 10px #424242;
    border: 1px solid rgb(32, 58, 173);
}
.btn .material-symbols-outlined{
    color: white;
}
.task{
    margin: 2em auto;
    width: 30%;
    min-width: 20em;
    min-height: 250px;
    height: 40vh;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 40px 10px #7B7B7B;
}
h4{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    color: #00A5EC;
    text-align: center;
}
input[type=checkbox]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
label{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #424242;
    cursor: pointer;
}
.lnth{
    text-decoration: line-through;
    opacity: 0.7;
}
.task div{
    margin-top: 20px;
    margin-left: 20px;
    line-height: 35px;
}
.newitem{
    position: absolute;
    top: 180px;
    left: 532px;
    border-radius: 10px;
    min-width: 300px;
    width: 30%;
    height: 170px;
    background-color: white;
}
.newitem h4{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    cursor: pointer;
}
#cls{
    position: absolute;
    top: 15px;
    right: 10px;
    display: inline-block;
    color: #7B7B7B;
    cursor: pointer;
}
#txtarea-item{
    margin: 10px;
    height: 30px;
    width: 95%;
}
.aditem-btn{
    position: absolute;
    left: 170px;
    display: flex;
    width: 120px;
    height: 40px;
    background-color: #00A5EC;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.aditem-btn .material-symbols-outlined{
    color: white;
}
.aditem-btn p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: small;
}