@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F7F7F7;
}
.all-cntnr{
    position: relative;
    width: 100%;
    min-height: 750px;
    height: max-content;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.6);
    filter: brightness(60%);
}
header{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px #7B7B7B;
}
.tl{
    position: absolute;
    top: 25px;
    left: 100px;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    cursor: pointer;
}
span{color: #00A5EC;}
.action-btn{
    display: inline;
    position: relative;
    top: 20px;
    left: 65%;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    cursor: pointer;
}
.btn{
    display: inline-block;
    position: relative;
    top: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #00A5EC;
}
.btn:hover{
    box-shadow: 3px 3px 10px #424242;
    border: 1px solid rgb(32, 58, 173);
}
.btn .material-symbols-outlined{
    position: absolute;
    top: 6px;
    left: 6px;
    color: white;
}
.task-cntnr{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 8em auto;
    width: 90%;
    height: 550px;
    align-content: space-around;
    gap: 15px; 
    padding-left: 15px;
}
.task{
    width: 30%;
    min-height: 245px;
    height: 45vh;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}
.task:hover{
    box-shadow: 5px 5px 10px #7B7B7B;
}
.task h4{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: #00A5EC;
    text-align: center;
}
input[type=checkbox]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
label{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #424242;
    cursor: pointer;
}
.lnth{
    text-decoration: line-through;
    opacity: 0.7;
}
.task div{
    margin-top: 20px;
    margin-left: 20px;
    line-height: 35px;
}
.addtask{
    position: absolute;
    top: 190px;
    left: 500px;
    width: 350px;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: #424242;
}
.addtask h4{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}
#cls{
    color: #7B7B7B;
    margin-left: 185px;
    cursor: pointer;
}
#txtarea{
    margin: 15px;
    width: 320px;
    height: 30px;
    cursor: pointer;
}
.adtsk-btn{
    margin-left: 200px;
    width: 140px;
    height: 35px;
    background-color: #00A5EC;
    text-align: center;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
}
.adtsk-btn p{
    display: inline-block;
    cursor: pointer;
}
.adtsk-btn .material-symbols-outlined{
    color: white;
}